* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  color: #004156;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  display: flex;
  flex-direction: column;
}
#page15 {
  height: 100vh;
  width: 100vw;
}
header {
  display: flex;
  flex-direction: column;
}

/* nav */
nav {
  width: 100vw;
  font-size: 1.2vw;
  padding: 1vw 5vw 1vw 1vw;
  text-align: center;
  justify-content: end;
}
nav ul {
  list-style: none;
  gap: 3vw;
  font-weight: 600;
  font-size: 0.7rem;
}
nav ul li a {
  color: inherit;
  text-decoration: none;
}

/* Search bar */
.Welcome-head {
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: 500;
}
.Welcome-head span {
  font-weight: bolder;
}
.search-container {
  position: relative;
  width: 38rem;
  margin-top: 1vh;
}
.search-input {
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 50px;
  font-size: 13px;
  border: 1px solid #bcd6e3;
  border-radius: 4rem;
  outline: none;
}
.search-input::placeholder {
  color: #bcd6e3;
}
.search-button {
  height: 100%;
  width: 8rem;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  padding: 9px 10px;
  font-size: 12px;
  border: none;
  background-color: #004156;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4rem;
  overflow: hidden;
}
.search-button:active {
  background-color: #004156;
  transform: translateY(calc(-50% + 2px));
}

/* blog header section */
.blog a {
  text-decoration: none;
}
.blog img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.blog-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0; /* Add margin between left and right sections */
}
.blog-left-section,
.blog-right-section {
  flex: 1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-left-section {
  background-color: #ecf3f7;
}
.blog-left-img {
  display: flex;
  height: 25rem;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  object-fit: cover;
}
.blog-left-img img {
  border-radius: 1rem;
}
.blog-left-description p {
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.1rem;
}
.blog-right-section {
  padding: 1rem;
}
.blog-right-section span {
  font-weight: bold;
}

.popular-blogs-wrapper {
  border-radius: 1rem;
  margin-left: 0;
}

.popular-blogs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ecf3f7;
  border-radius: 7px;
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
}
.popular-blogs p {
  font-weight: 600;
  line-height: 1.5;
  font-size: 0.9rem;
}

.blog-tags span {
  background-color: #fff;
  padding: 6px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 300;
  color: #689bac;
  margin-right: 4px; /* Add spacing between tags */
}
.popular-blog-img {
  overflow: hidden;
  border-radius: 7px;
  height: 6.5rem;
  width: 7.3rem;
}

/* blog cards section */

/* category button links */
.category-buttons button {
  background-color: transparent;
  border: 1px solid #004156;
  border-radius: 2.5rem;
  color: #004156;
  font-size: 0.6rem;
  font-weight: bold;
}
.category-buttons button:hover {
  background-color: transparent;
  border: 1px solid #004156;
}

/* cards */

.blogCard {
  border-radius: 1rem;
  margin-bottom: 2rem;
  background-color: #ecf3f7;
}
.blog-img {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #ffff;
}
.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card-description p {
  font-weight: 600;
  line-height: 1.5;
  font-size: 0.9rem;
  max-width: 100%;
  margin-left: 10px;
  margin-top: 6px;
}

/* pagination */

.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
  list-style: none;
}
.pagination li {
  margin: 0 0.5rem;
}
.pagination li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  color: #004156;
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: bold;
  transition: background-color 0.3s;
  border: transparent;
}
.pagination li a:hover {
  background-color: #004156;
  color: #ffff;
}
.pagination li a.active {
  background-color: #004156;
  color: #ffff;
}

/* page 27 */

.loginPage {
  height: 100vh;
  width: 100vw;
}
.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
  padding: 0;
}
.image-side {
  width: 50%;
  background: url("docs/loginImage.jpg") no-repeat left center;
  background-size: cover;
}
.form-side {
  width: 65%;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
h1 {
  margin-top: 0;
  font-size: 32px;
}

form input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #bcd6e3;
  border-radius: 25px;
}
form input::placeholder {
  color: #bcd6e3;
  font-size: 14px;
}
form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #004156;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid #004156;
  justify-content: center;
}
.footer button:hover {
  background-color: #ffffff;
}
.footer {
  text-align: center;
  margin-top: 10px;
}
.footer a {
  color: #004156;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.or-line {
  text-align: center;
  margin: 20px 0;
  position: relative;
}
.or-line::before,
.or-line::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #004156;
}
.or-line::before {
  left: 0;
}
.or-line::after {
  right: 0;
}
.social-buttons {
  display: flex;
  justify-content: space-between;
}
.social-buttons button {
  width: 200px;
  background-color: #ffffff;
  color: #004156;
  border: 1px solid #bcd6e3;
  border-radius: 25px;
  font-size: 13px;
  padding: 5px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  
}
.social-buttons button:hover {
  opacity: 0.9;
  background-color: #004156;
  color: #fff;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .image-side {
    width: 100%;
    height: 200px;
  }
  .form-side {
    width: 100%;
    padding: 20px;
  }
}
